@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Review Assignment

   Cinema Penguin Styles for Media
   Author: Noah Schatz
   Date:   10/28/25

   Filename: 

*/

/* Media Styles */

audio, video {
   width: 95%;
   display: block;
   margin: 20px auto;
}


/* Track Styles */

::cue {
   background: transparent;
   color: rgb(255, 177, 66);
   text-shadow: black 1px 2px 0px;
   font: 1.2em serif;
}

::cue(.Main) {
   font: 2em serif;
}