@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Review Assignment

   Cinema Penguin Styles for Media
   Author: Noah Schatz
   Date:   10/28/25

   Filename: 

*/

/* Media Styles */




/* Track Styles */

